/* .parent {
  width: 80%;
  height: 200px;
  background: lightgray;
}

.child {
  width: 50%;
  height: 50%;
  background: coral;
} */



/* html {
  font-size: 12px;
}

.parent {
  font-size: 20px;
}

.em-text {
  font-size: 2em;
}

.rem-text {
  font-size: 2rem;
} */


/* *{
    padding: 0;
    margin: 0;
 

} */
/* .hero {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #667eea, #764ba2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
 
} */


/* css variable pratice */

/* :root{

--primary-color:rgb(255, 0, 191);
--secondary-color:rgb(116, 180, 148);
--large-font-size:2rem;
--padding-size:50px;
}

h1{
  color: var(--primary-color);
  font-size: var(--large-font-size);
  padding: var(--padding-size);
  
}


p{
  color: var(--secondary-color);

}

button{
  background: var(--primary-color);
  color: white;
  padding: var(--padding-size);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
 */


/* @media screen  and (max-width: 600px) 
 { 
  
  .change-color{ background: red; }
  
 }
  */

/* p{
  font-size: 24px;
}

  @media screen and(max-width: 768px) {
    p{
      font-size: 16px;
    }
  } */




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f0f0f0;
}

.exercise {
  background: white;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 5px;
}

.exercise h2 {
  color: #333;
  margin-bottom: 15px;
}

.goal {
  background: #fffbea;
  padding: 15px;
  margin: 15px 0;
  border-left: 4px solid #f39c12;
}

.container {
  border: 2px solid #333;
  padding: 10px;
  margin: 20px 0;
  min-height: 200px;
  background: #e8e8e8;
}

.item {
  background: #3498db;
  color: white;
  padding: 20px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
}

/* Exercise 1 */
.ex1-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Exercise 2 */
.ex2-container {
  display: flex;
  justify-content: space-between;
}

/* Exercise 3 */
.ex3-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* Exercise 4 */
.ex4-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Exercise 5 */
.ex5-container {
  display: flex;
  justify-content: space-between;
}

/* Exercise 6 */
.ex6-container {
  display: flex;
  flex-flow: row-reverse;
}

/* Exercise 7 */
.ex7-container {
  display: flex;
  align-items: start;

}

.ex7-item-2 {
  align-self: flex-end;
}

/* Exercise 8 */
.ex8-container {
  display: flex;

}

.ex8-container .item {
  flex: 1;

}

/* Exercise 9 */
.ex9-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Exercise 10 */
.ex10-container {
  display: flex;
  justify-content: space-evenly;
}





.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
gap: 15px;

}

.box {
  background: steelblue;
  color: white;
  padding: 40px;
  text-align: center;
  font-size: 24px;
}

 .featured {
  grid-column: span 3;
  grid-row: span 2;
  min-height: 200px;
}

.sidebar {
  grid-row: span 2;
  
}

/* .box:first-child{
  grid-row: span 2;
} */
/* .box:first-child {
  grid-column: span 2;
} */
/* .box:first-child {
  grid-row: span 2;
} */
 